$fontSize: 2em;
$accentColour: lightblue;
$textColour: white;
$textColourDark: black;

body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	font-family: 'Caveat', cursive;
}

/* -- Nav START --*/
nav {
	display: flex;
	padding: 5px;
	flex-basis: 100%;
	background: $accentColour;

 	img {
 		height: 2em;
 	}

 	#logo {
 		padding: 0px;
 		margin: 0 10%;
 	}

 	ul {
 		display: flex;
    	margin: 1% 0;
   		padding: 0;
   		list-style: none;
    	align-items: center;
		align-content: center;
 	}


 	a:hover {
		background: white;
		color: black;
		border-radius: 25px;
	}

 	a {
 		display: block;
 		color: white;
 		font-size: $fontSize;
    	padding: 6px 12px;
    	text-decoration: none;
 	}
}
/* -- Nav END --*/

main {
	flex-basis: 100%;
}

footer {
	flex-basis: 100%;
	background-color: lightblue;
	text-align: center;
	left: 0;
	bottom: 0;
	color: white;
	width: 100%;
	padding: 20px 0;

	p {
		font-size: 1.5em;
	}

	img {
		width: 8vw;
	}

	#bobspin {
		transition: transform 2s;
	}

	#bobspin:hover {
		transform: rotateZ(360deg);
	}
}