$fontSize: 2em;
$accentColour: lightblue;
$textColour: white;
$textColourDark: black;

body {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	font-family: 'Caveat', cursive;
}

/* -- Nav START --*/
nav {
	display: flex;
	padding: 5px;
	flex-basis: 100%;
	background: $accentColour;

 	img {
 		height: 2em;
 	}

 	#logo {
 		padding: 0px;
 		margin: 0 10%;
 	}

 	ul {
 		display: flex;
    	margin: 1% 0;
   		padding: 0;
   		list-style: none;
    	align-items: center;
		align-content: center;
 	}


 	a:hover {
		background: white;
		color: black;
		border-radius: 25px;
	}

 	a {
 		display: block;
 		color: white;
 		font-size: $fontSize;
    	padding: 6px 12px;
    	text-decoration: none;
 	}
}
/* -- Nav END --*/

main {
	flex-basis: 100%;
}

#hero {
	width: 100vw;
	position: relative;
	text-align: center;
	color: white;

	img {
		width: 100vw;
		height: 500px;
		z-index: -1;
		display: block;
		object-fit: cover;
		filter: brightness(50%);
	}

	div {
		margin: 0px;
		padding: 0px;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}

	h1 {
		font-size: 4em;
		font-weight: bold;
		margin: auto 0vh;
		word-wrap: nowrap;
	}

	p {
		font-size: $fontSize;
		font-weight: bold;
		margin: auto 0vh;
	}
}

#quotes {
	background: $accentColour;
	text-align: center;
	
	h2 {
		margin: 0px 0px 10px 0px;
		padding: 30px 0px 0px 0px;
		font-size: 50pt;
		font-weight: bold;
		color: $textColourDark;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 30px;
	}

	li {
		font-size: $fontSize;
		color: $textColourDark;
		margin: auto 10px;
		padding-bottom: 25px;
	}
}







footer {
	flex-basis: 100%;
}